.AddWorkout_exercise{
    width: 345px;
    height: auto;
    display: flex;
    padding: 20px;
    border: 1px solid lightgray;
    background: #5495d6;
    display: inline-block;
    text-align: left; 
}
.form >label{
    color: white;
    text-align: left;
}


.deluser{
    width: 100%;

}

.search{
    width: 100%;
        padding: 12px 24px;
        background-color: white;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 15px;
        color: #575756;
}

.fitnesscard{
    flex-direction: column;
    
}