.AddWorkout_exercise{
    width: 345px;
    height: auto;
    display: flex;
    padding: 20px;
    border: 1px solid lightgray;
    background: #5495d6;
    display: inline-block;
    text-align: left; 
}
.form >label{
    color: black;
    text-align: left;
}
