.Medit {
padding-top: 50px;
text-align: left;
background-image: url("../images/pose.jpg");
background-size: 160%;
height: 100%;
width: 100%;
}

.Medit-header {
background-size: cover;
background-repeat: no-repeat;
opacity: 0.8;
text-align: center;
height: 450px;
padding: 80px;
color: white;
 
}

.tableheader{
  color: #000000;
}
.poptable{
  margin-top: 20px;
  padding: 20px;
  background-color: transparent;
  color: black;
  height: auto;
  align-items: center;
  overflow: hidden;
}

.Medit-header >h1{
  padding-left: 50px;
  font-weight: 750;
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  font-style: oblique;
  margin-bottom: 20px;
  color: aqua;
  
}


.Medit-header >p{
  padding-left: 50px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-style: normal;
  margin-bottom: 20px;
  color: white;
  
}
.table > .Medit_music{
  padding-bottom: 20%;
}


.Medit_music 
{
    color: white;
    background: grey;
    border-radius: 50px;
    width: auto;
    height: auto;
    border: 5px solid;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: flex;
    border-color: #28262b #000000
    
}


.response1 {
margin: 10px;
text-align: left;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}

.container1 {
display: flex;
flex-direction: column;
min-height: 80vh;
text-align: center;
}

.main-footer1 {
color: white;
background-color: #cc0000;
position: relative;
bottom: 0;
width: 100%;
border: solid 1 px white;
}

.content-wrap1 {
  flex: 1;
  
}

.col1 {
  text-align: center;
  background-color: #333331;
  
}

